<div class="mx-auto" style="width: 1000px;">
        <div class="row d-flex justify-content-center">
            <div class="col-10">
                <h1>Contact</h1>
                <p class="text-justify">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex in velit voluptas consequatur est
                    dolorum
                    adipisci ipsa deserunt, officiis rem qui voluptatibus aut reiciendis debitis dolor mollitia laborum
                    impedit
                    deleniti.</p>
            </div>
        </div>


        <div class="card mx-auto" style="max-width: 600px;">
            <div class="row no-gutters bg-light">
                <div class="col">
                    <div class="card-body">
                        <div class="form-group row">
                            <label for="inputEmail3" class="col-4 col-form-label d-flex justify-content-end font-weight-bold">Your E-mail</label>
                            <div class="col">
                                <input type="email" class="form-control col-12" id="inputEmail3" placeholder="Your email">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputcomment" class="col-4 col-form-label d-flex justify-content-end font-weight-bold">Your Message</label>
                            <div class="col">
                                <textarea name="inputcomment" id="inputcomment" class="d-flex justify-content-end col-12" placeholder="Please enter your message here..."></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col d-flex justify-content-end">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom"></div>