
    <div class="card bg-dark text-white">
        <img src="./assets/img/bg.jpg" alt="">
        <div class="card-img-overlay">
          <blockquote class="blockquote text-center bg-whithe">
            <h1 class="mt-5 bg-white text-dark"><b> One Page Wonder</b></h1>
          </blockquote>
          <blockquote class="blockquote text-center bg-whithe">
            <h3 class="mt-0 bg-white text-dark"> Will Knock Your Socks Off</h3>
          </blockquote>
        </div>
      </div>
   

     